openapi: 3.2.0
info:
  title: Market Data Logo API
  description: Access Alpaca’s historical and real-time US stock market and crypto data through REST API and WebSocket. There are APIs for Stock Pricing, Crypto Pricing, and News.
  version: 2.0.0
  contact:
    name: Alpaca Support
    email: support@alpaca.markets
    url: https://alpaca.markets/support
  termsOfService: https://s3.amazonaws.com/files.alpaca.markets/disclosures/library/TermsAndConditions.pdf
servers:
- url: https://data.alpaca.markets
  description: Production
- description: Sandbox
  url: https://data.sandbox.alpaca.markets
security:
- API_Key: []
  API_Secret: []
tags:
- name: Logo
paths:
  /v1beta1/logos/{crypto_or_stock_symbol}:
    parameters:
    - schema:
        type: string
      name: crypto_or_stock_symbol
      in: path
      required: true
      description: The crypto or stock symbol to query for. Note, currently all crypto symbols must be appended with "USD", ie "BTCUSD" would be how you query for BTC.
    get:
      summary: Get Logo for symbol
      tags:
      - Logo
      responses:
        '200':
          description: Returns the requested logo as an image.
          content:
            image/*:
              schema:
                type: string
                format: binary
                description: the requested logo
        '404':
          description: No Logo was found for this symbol. This code will only be returned if you set `placeholder` to false. Otherwise we will generate a placeholder image for this symbol
      operationId: getLogoForSymbol
      description: Returns logo image resource for provided symbol.
      parameters:
      - schema:
          type: boolean
          default: true
        in: query
        name: placeholder
        description: If true then the api will generate a placeholder image if no logo was found. Defaults to true
components:
  securitySchemes:
    API_Key:
      name: APCA-API-KEY-ID
      type: apiKey
      in: header
    API_Secret:
      name: APCA-API-SECRET-KEY
      type: apiKey
      in: header
