openapi: 3.0.0
info:
  title: Broker Account Activities Stock Pricing Data API API
  description: Open brokerage accounts, enable crypto and stock trading, and manage the ongoing user experience with Alpaca Broker API
  version: 1.0.0
  contact:
    name: Alpaca Support
    email: support@alpaca.markets
    url: https://alpaca.markets/support
  termsOfService: https://s3.amazonaws.com/files.alpaca.markets/disclosures/library/TermsAndConditions.pdf
servers:
- url: https://broker-api.sandbox.alpaca.markets
  description: Sandbox endpoint
- url: https://broker-api.alpaca.markets
  description: Production endpoint
security:
- BasicAuth: []
tags:
- name: Stock Pricing Data API
paths:
  /v2/stocks/bars:
    get:
      tags:
      - Stock Pricing Data API
      summary: Get Bar data for multiple stock symbols
      parameters:
      - $ref: '#/components/parameters/stock-symbols'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/timeframe'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/adjustment'
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiBarsResponse'
              examples:
                example-1:
                  value:
                    bars:
                      AAPL:
                      - t: '2022-02-28T05:00:00Z'
                        o: 163.02
                        h: 165.42
                        l: 162.43
                        c: 165.12
                        v: 90552883
                        n: 743379
                        vw: 164.274348
                      TSLA:
                      - t: '2022-02-28T05:00:00Z'
                        o: 815.72
                        h: 876.86
                        l: 814.7075
                        c: 870.43
                        v: 32122773
                        n: 848700
                        vw: 855.748243
                    next_page_token: null
      operationId: getBarsForMultipleStockSymbols
      description: 'The Multi Bars API returns aggregate historical data for multiple given ticker symbols over a specified time period.


        Returned results are sorted by symbol first then by Bar timestamp. This means that you are likely to see only one symbol in your first response if there are enough Bars for that symbol to hit the limit you requested on that request.


        In these situations if you keep requesting again with the next_page_token you will eventually reach the next symbols if any Bars were found for them.'
  /v2/stocks/bars/latest:
    get:
      summary: Get Latest Bar data for multiple stock symbols
      tags:
      - Stock Pricing Data API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestMultiBarsResponse'
              examples:
                example-1:
                  value:
                    bars:
                      AAPL:
                        t: '2022-03-10T20:01:00Z'
                        o: 158.715
                        h: 158.73
                        l: 158.61
                        c: 158.615
                        v: 1211
                        n: 21
                        vw: 158.680756
                      TSLA:
                        t: '2022-03-10T20:01:00Z'
                        o: 834.27
                        h: 834.27
                        l: 832.46
                        c: 832.46
                        v: 1257
                        n: 48
                        vw: 833.55574
      operationId: getLatestBarsForMultipleStockSymbols
      description: The Bars API returns aggregate historical data for the requested security. Returns the latest bar data for the queried stock symbols.
      parameters:
      - $ref: '#/components/parameters/stock-symbols'
      - $ref: '#/components/parameters/feed'
  /v2/stocks/{symbol}/bars:
    parameters:
    - $ref: '#/components/parameters/stock-symbol'
    get:
      tags:
      - Stock Pricing Data API
      summary: Bars
      parameters:
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/timeframe'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/feed'
      - $ref: '#/components/parameters/adjustment'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BarsResponse'
              examples:
                getBarsStocks-example-1:
                  value:
                    bars:
                    - t: '2021-02-01T16:01:00Z'
                      o: 133.32
                      h: 133.74
                      l: 133.31
                      c: 133.5
                      v: 9876
                    - t: '2021-02-01T16:02:00Z'
                      o: 133.5
                      h: 133.58
                      l: 133.44
                      c: 133.58
                      v: 3567
                    symbol: AAPL
                    next_page_token: MjAyMS0wMi0wMVQxNDowMjowMFo7MQ==
      operationId: getBarsForStockSymbol
      description: The Bars API returns aggregate historical data for the requested security. Returns bars for the queried stock symbol.
  /v2/stocks/{symbol}/bars/latest:
    parameters:
    - $ref: '#/components/parameters/stock-symbol'
    get:
      tags:
      - Stock Pricing Data API
      summary: Get Latest Bars for Symbol
      operationId: getLatestBarForStockSymbol
      description: The Bars API returns aggregate historical data for the requested security. Returns the latest bar data for the queried stock symbol.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestBarResponse'
              examples:
                example-1:
                  value:
                    symbol: AAPL
                    bar:
                      t: '2022-03-10T19:26:00Z'
                      o: 158.035
                      h: 158.21
                      l: 158.035
                      c: 158.21
                      v: 800
                      n: 15
                      vw: 158.113144
      parameters:
      - $ref: '#/components/parameters/feed'
  /v2/stocks/trades:
    get:
      tags:
      - Stock Pricing Data API
      summary: Get Trade data for multiple stock symbols
      parameters:
      - $ref: '#/components/parameters/stock-symbols'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiTradesResponse'
              examples:
                geMultiTradesStocks-example-1:
                  value:
                    trades:
                      SPY:
                      - t: '2021-02-06T13:04:56.334320128Z'
                        x: C
                        p: 387.62
                        s: 100
                        c:
                        - ' '
                        - T
                        i: 52983525029461
                        z: B
                      - t: '2021-02-06T13:09:42.325484032Z'
                        x: C
                        p: 387.69
                        s: 100
                        c:
                        - ' '
                        - T
                        i: 52983525033813
                        z: B
                    next_page_token: MjAyMS0wMi0wNlQxMzowOTo0Mlo7MQ==
      operationId: getTradesForMultipleStockSymbols
      description: 'The Multi Trades API provides historical trade data for multiple given ticker symbols over a specified time period.


        Returned results are sorted by symbol first then by Trade timestamp. This means that you are likely to see only one symbol in your first response if there are enough Trades for that symbol to hit the limit you requested on that request.


        In these situations if you keep requesting again with the next_page_token you will eventually reach the next symbols if any Trades were found for them.'
  /v2/stocks/trades/latest:
    get:
      summary: Get Latest Trades data for multiple stock symbols
      tags:
      - Stock Pricing Data API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestMultiTradesResponse'
              examples:
                example-1:
                  value:
                    trades:
                      TSLA:
                        t: '2022-03-11T17:24:55.143671726Z'
                        x: V
                        p: 801.83
                        s: 100
                        c:
                        - '@'
                        i: 9924
                        z: C
                      AAPL:
                        t: '2022-03-11T17:24:56.321817175Z'
                        x: V
                        p: 155.105
                        s: 300
                        c:
                        - '@'
                        i: 7741
                        z: C
      operationId: getLatestTradesForMultipleStockSymbols
      description: Returns the latest trades data for the queried stock symbols.
      parameters:
      - $ref: '#/components/parameters/stock-symbols'
      - $ref: '#/components/parameters/feed'
  /v2/stocks/{symbol}/trades:
    parameters:
    - $ref: '#/components/parameters/stock-symbol'
    get:
      tags:
      - Stock Pricing Data API
      summary: Trades
      parameters:
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - name: symbol
        in: path
        schema:
          type: string
        required: true
        description: The symbol to query for
        example: AAPL
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradesResponse'
              examples:
                getTradeStocks-example-1:
                  value:
                    trades:
                    - t: '2021-02-06T13:04:56.334320128Z'
                      x: C
                      p: 387.62
                      s: 100
                      c:
                      - ' '
                      - T
                      i: 52983525029461
                      z: B
                    - t: '2021-02-06T13:09:42.325484032Z'
                      x: C
                      p: 387.69
                      s: 100
                      c:
                      - ' '
                      - T
                      i: 52983525033813
                      z: B
                    symbol: SPY
                    next_page_token: MjAyMS0wMi0wNlQxMzowOTo0Mlo7MQ==
      operationId: getTradesForStockSymbol
      description: The Trades API provides historical trade data for a given ticker symbol on a specified date. Returns trades for the queried stock signal.
  /v2/stocks/{symbol}/trades/latest:
    parameters:
    - $ref: '#/components/parameters/stock-symbol'
    get:
      tags:
      - Stock Pricing Data API
      summary: Latest Trade
      parameters:
      - name: symbol
        in: path
        schema:
          type: string
        required: true
        description: The symbol to query for
        example: AAPL
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                example-1:
                  value:
                    symbol: AAPL
                    trade:
                      t: '2022-02-01T17:46:51.111055251Z'
                      x: V
                      p: 173.06
                      s: 100
                      c:
                      - '@'
                      i: 6519
                      z: C
              schema:
                $ref: '#/components/schemas/LatestTradeResponse'
      operationId: getLatestTradeForStockSymbol
      description: The Latest Trade API provides the latest trade data for a given ticker symbol.
  /v2/stocks/quotes:
    get:
      tags:
      - Stock Pricing Data API
      summary: Get Quotes for multiple stock symbols
      parameters:
      - $ref: '#/components/parameters/stock-symbols'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: 'Successful response

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiQuotesReponse'
              examples:
                example-1:
                  value:
                    quotes:
                      AAPL:
                      - t: '2022-03-11T13:13:49.975594385Z'
                        ax: V
                        ap: 159.97
                        as: 1
                        bx: V
                        bp: 0
                        bs: 0
                        c:
                        - R
                        z: C
                    next_page_token: QUFQTHwyMDIyLTAzLTExVDEzOjEzOjQ5Ljk3NTU5NDM4NVp8MDFEQzVERDY=
      operationId: getQuotesForMultipleStockSymbols
      description: 'The Multi Quotes API provides NBBO quotes for multiple given ticker symbols over a specified time period.


        Returned results are sorted by symbol first then by Quote timestamp. This means that you are likely to see only one symbol in your first response if there are enough Quotes for that symbol to hit the limit you requested on that request.


        In these situations if you keep requesting again with the next_page_token you will eventually reach the next symbols if any Quotes were found for them.'
  /v2/stocks/quotes/latest:
    get:
      summary: Get Latest Quotes for multiple stock symbols
      tags:
      - Stock Pricing Data API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestMultiQuotesResponse'
              examples:
                example-1:
                  value:
                    quotes:
                      AAPL:
                        t: '2022-03-11T18:40:13.514830169Z'
                        ax: V
                        ap: 156.47
                        as: 3
                        bx: V
                        bp: 156.45
                        bs: 1
                        c:
                        - R
                        z: C
                      TSLA:
                        t: '2022-03-11T18:40:12.416216587Z'
                        ax: V
                        ap: 850
                        as: 1
                        bx: V
                        bp: 798
                        bs: 2
                        c:
                        - R
                        z: C
      operationId: getLatestQuotesForMultipleStockSymbols
      description: Returns the latest quotes data for the queried stock symbols.
      parameters:
      - $ref: '#/components/parameters/stock-symbols'
      - $ref: '#/components/parameters/feed'
  /v2/stocks/{symbol}/quotes:
    parameters:
    - $ref: '#/components/parameters/stock-symbol'
    get:
      tags:
      - Stock Pricing Data API
      summary: Get Quotes for stock symbol
      parameters:
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - name: symbol
        in: path
        schema:
          type: string
        required: true
        description: The symbol to query for
        example: AAPL
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/page_token'
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotesResponse'
              examples:
                getQuotesStocks-example-1:
                  value:
                    quotes:
                    - t: '2022-02-01T09:00:00.000448Z'
                      ax: K
                      ap: 175
                      as: 1
                      bx: Q
                      bp: 174.96
                      bs: 4
                      c:
                      - R
                      z: C
                    - t: '2022-02-01T09:00:00.000448Z'
                      ax: K
                      ap: 175
                      as: 12
                      bx: Q
                      bp: 174.96
                      bs: 4
                      c:
                      - R
                      z: C
                    symbol: AAPL
                    next_page_token: null
      operationId: getQuotesForStockSymbol
      description: The Quotes API provides NBBO quotes for a single given ticker symbol at a specified date. Returns quotes (NBBOs) for the querried stock symbol.
  /v2/stocks/{symbol}/quotes/latest:
    parameters:
    - $ref: '#/components/parameters/stock-symbol'
    get:
      tags:
      - Stock Pricing Data API
      summary: Get Latest Quote for stock symbol
      parameters:
      - name: symbol
        in: path
        schema:
          type: string
        required: true
        description: The symbol to query for
        example: AAPL
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LatestQuoteResponse'
              examples:
                example-1:
                  value:
                    symbol: AAPL
                    quote:
                      t: '2022-02-01T17:51:03.204726425Z'
                      ax: V
                      ap: 173.24
                      as: 4
                      bx: V
                      bp: 173.21
                      bs: 4
                      c:
                      - R
                      z: C
      operationId: getLatestQuoteForStockSymbol
      description: The Latest Quote API provides the latest quote data for a given ticker symbol.
  /v2/stocks/snapshots:
    get:
      tags:
      - Stock Pricing Data API
      summary: Get Snapshots for multiple stock symbols
      parameters:
      - $ref: '#/components/parameters/stock-symbols'
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiSnapshotResponse'
              examples:
                example-1:
                  value:
                    AAPL:
                      latestTrade:
                        t: '2022-03-11T19:08:43.947998695Z'
                        x: V
                        p: 156.055
                        s: 100
                        c:
                        - '@'
                        i: 10593
                        z: C
                      latestQuote:
                        t: '2022-03-11T19:09:06.125564144Z'
                        ax: V
                        ap: 157.2
                        as: 5
                        bx: V
                        bp: 156.08
                        bs: 1
                        c:
                        - R
                        z: C
                      minuteBar:
                        t: '2022-03-11T19:08:00Z'
                        o: 156.02
                        h: 156.1
                        l: 156.02
                        c: 156.055
                        v: 4483
                        n: 26
                        vw: 156.055956
                      dailyBar:
                        t: '2022-03-11T05:00:00Z'
                        o: 158.94
                        h: 159.25
                        l: 154.76
                        c: 156.055
                        v: 1180799
                        n: 10408
                        vw: 156.545239
                      prevDailyBar:
                        t: '2022-03-10T05:00:00Z'
                        o: 160.23
                        h: 160.38
                        l: 155.98
                        c: 158.52
                        v: 1889292
                        n: 17072
                        vw: 157.845202
                    TSLA:
                      latestTrade:
                        t: '2022-03-11T19:08:59.479520429Z'
                        x: V
                        p: 796.95
                        s: 100
                        c:
                        - '@'
                        i: 13647
                        z: C
                      latestQuote:
                        t: '2022-03-11T19:09:06.159593323Z'
                        ax: V
                        ap: 850
                        as: 1
                        bx: V
                        bp: 796.49
                        bs: 1
                        c:
                        - R
                        z: C
                      minuteBar:
                        t: '2022-03-11T19:08:00Z'
                        o: 796.78
                        h: 797.4
                        l: 796.78
                        c: 796.95
                        v: 2139
                        n: 46
                        vw: 797.116889
                      dailyBar:
                        t: '2022-03-11T05:00:00Z'
                        o: 840.38
                        h: 843.055
                        l: 795.33
                        c: 796.95
                        v: 466980
                        n: 13232
                        vw: 811.369454
                      prevDailyBar:
                        t: '2022-03-10T05:00:00Z'
                        o: 851.5
                        h: 853.355
                        l: 810.76
                        c: 838.21
                        v: 578475
                        n: 16118
                        vw: 828.766436
      operationId: getSnapshotsForMultipleStockSymbols
      description: The Snapshot API for multiple tickers provides the latest trade, latest quote, minute bar daily bar and previous daily bar data for the given ticker symbols.
  /v2/stocks/{symbol}/snapshot:
    parameters:
    - $ref: '#/components/parameters/stock-symbol'
    get:
      tags:
      - Stock Pricing Data API
      summary: Get a Snapshot for a stock symbol
      parameters:
      - name: symbol
        in: path
        schema:
          type: string
        required: true
        description: The symbol to query for
        example: AAPL
      - $ref: '#/components/parameters/feed'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
              examples:
                getSnapshotStocks-example-1:
                  value:
                    symbol: AAPL
                    latestTrade:
                      t: '2021-05-11T20:00:00.435997104Z'
                      x: Q
                      p: 125.91
                      s: 5589631
                      c:
                      - '@'
                      - M
                      i: 179430
                      z: C
                    latestQuote:
                      t: '2021-05-11T22:05:02.307304704Z'
                      ax: P
                      ap: 125.68
                      as: 12
                      bx: P
                      bp: 125.6
                      bs: 4
                      c:
                      - R
                    minuteBar:
                      t: '2021-05-11T22:02:00Z'
                      o: 125.66
                      h: 125.66
                      l: 125.66
                      c: 125.66
                      v: 396
                    dailyBar:
                      t: '2021-05-11T04:00:00Z'
                      o: 123.5
                      h: 126.27
                      l: 122.77
                      c: 125.91
                      v: 125863164
                    prevDailyBar:
                      t: '2021-05-10T04:00:00Z'
                      o: 129.41
                      h: 129.54
                      l: 126.81
                      c: 126.85
                      v: 79569305
      operationId: getSnapshotForStockSymbol
      description: The Snapshot API for one ticker provides the latest trade, latest quote, minute bar daily bar and previous daily bar data for a given ticker symbol. This endpoint returns the snapshot for the requested security.
  /v2/stocks/meta/exchanges:
    get:
      summary: Get List of supported exchanges
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesResponse'
              examples:
                example-1:
                  value:
                    Z: Cboe BZ
                    I: International Securities Exchange
                    M: Chicago Stock Exchange
                    U: Members Exchange
                    L: Long Term Stock Exchange
                    W: CBOE
                    X: NASDAQ OMX PSX
                    B: NASDAQ OMX BX
                    D: FINRA ADF
                    J: Cboe EDGA
                    P: NYSE Arca
                    Q: NASDAQ OMX
                    S: NASDAQ Small Cap
                    V: IEX
                    A: NYSE American (AMEX)
                    E: Market Independent
                    N: New York Stock Exchange
                    T: NASDAQ Int
                    Y: Cboe BYX
                    C: National Stock Exchange
                    H: MIAX
                    K: Cboe EDGX
      operationId: getExchanges
      description: Returns a json object representing the exchanges we support. The keys are the short form codes you will see in our responses and the values are their respective full names.
      tags:
      - Stock Pricing Data API
  /v2/stocks/meta/conditions/{type}:
    parameters:
    - schema:
        type: string
        enum:
        - trade
        - quote
        example: trade
      name: type
      in: path
      required: true
      description: either "trade" or "quote"
    get:
      summary: Get list of Conditions
      responses:
        '200':
          description: 'OK


            Response is a JSON object mapping a condition to a plain text description'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              examples:
                example-trading-A:
                  value:
                    '4': Derivatively Priced
                    '5': Market Center Reopening Trade
                    '6': Market Center Closing Trade
                    '7': Qualified Contingent Trade
                    '8': Reserved
                    '9': Corrected Consolidated Close Price as per Listing Market
                    F: Inter-market Sweep Order
                    O: Market Center Opening Trade
                    ' ': Regular Sale
                    B: Average Price Trade
                    C: Cash Trade (Same Day Clearing)
                    E: Automatic Execution
                    M: Market Center Official Close
                    T: Extended Hours Trade
                    U: Extended Hours Sold (Out Of Sequence)
                    I: Odd Lot Trade
                    K: Rule 127 (NYSE only) or Rule 155 (NYSE MKT only)
                    R: Seller
                    X: Cross Trade
                    Z: Sold (Out Of Sequence)
                    N: Next Day Trade (Next Day Clearing)
                    P: Prior Reference Price
                    Q: Market Center Official Open
                    V: Contingent Trade
                    H: Price Variation Trade
                    L: Sold Last (Late Reporting)
                example-quote-C:
                  value:
                    '4': On Demand Intra Day Auction
                    U: Manual Bid And Ask Non Firm
                    B: Manual Bid Automated Ask
                    R: Regular Two Sided Open
                    A: Manual Ask Automated Bid
                    F: Fast Trading
                    H: Manual Bid And Ask
                    L: Closed Quote
                    N: Non Firm Quote
                    I: Order Imbalance
                    O: Opening Quote Automated
                    Y: No Offer No Bid One Sided Open
                    X: Order Influx
                    Z: No Open No Resume
      operationId: getConditions
      description: 'Each feed/exchange uses its own set of codes to identify trade and quote conditions, so the same condition may have a different code depending on the originator of the data.


        See [Our documentation](https://alpaca.markets/docs/market-data/#conditions) for more information'
      parameters:
      - schema:
          type: string
          enum:
          - A
          - B
          - C
          example: A
        in: query
        name: tape
        required: true
        description: 'What kind of conditions to retrieve, "A" and "B" return CTS, where "C" will give you UTP '
      tags:
      - Stock Pricing Data API
components:
  parameters:
    stock-symbols:
      name: symbols
      in: query
      required: true
      schema:
        type: string
        example: AAPL,TSLA
      description: The comma-separated list of stock ticker symbols to query for.
    stock-symbol:
      name: symbol
      in: path
      required: true
      schema:
        type: string
        example: AAPL
      description: The stock ticker symbol to query for.
    timeframe:
      name: timeframe
      in: query
      required: true
      schema:
        type: string
      description: 'Timeframe for the aggregation. Values are customizeable, frequently used examples: 1Min, 15Min, 1Hour, 1Day. Limits: 1Min-59Min, 1Hour-23Hour.'
    end:
      name: end
      in: query
      required: false
      schema:
        type: string
        format: date-time
        example: '2021-01-01T00:00:00Z'
      description: Filter data equal to or before this time in RFC-3339 format. Fractions of a second are not accepted.
    adjustment:
      name: adjustment
      in: query
      required: false
      schema:
        type: string
        enum:
        - raw
        - split
        - dividend
        - all
      description: specifies the corporate action adjustment(s) for bars data
    feed:
      name: feed
      in: query
      required: false
      schema:
        type: string
        enum:
        - iex
        - sip
        - otc
        example: sip
      description: Which feed to pull market data from. This is either `iex`, `otc`, or `sip`. `sip` and `otc` are only available to those with a subscription
    page_token:
      name: page_token
      in: query
      required: false
      schema:
        type: string
      description: Pagination token to continue from. The value to pass here is returned in specific requests when more data is available than the request limit allows.
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 10000
      description: Number of data points to return. Must be in range 1-10000, defaults to 1000.
    start:
      name: start
      in: query
      required: false
      schema:
        type: string
        format: date-time
        example: '2021-01-01T00:00:00Z'
      description: Filter data equal to or after this time in RFC-3339 format. Fractions of a second are not accepted.
  schemas:
    Trade:
      title: Trade
      type: object
      description: A model representing a trade
      x-examples:
        trade-example-1:
          t: '2021-02-06T13:04:56.334320128Z'
          x: C
          p: 387.62
          s: 100
          c:
          - ' '
          - T
          i: 52983525029461
          z: B
        example-crypto:
          t: '2022-02-27T11:04:55.82622Z'
          x: FTXU
          p: 39330
          s: 0.0003
          tks: B
          i: 25783365
      properties:
        t:
          type: string
          description: Timestamp in RFC-3339 format with nanosecond precision
          format: date-time
        x:
          type: string
          description: Exchange where the trade happened.
        p:
          type: number
          description: Trade price.
        s:
          type: number
          description: Trade Size.
        c:
          type: array
          description: Trade conditions (Stock trade only)
          items:
            type: string
        i:
          type: integer
          description: Trade ID
          format: int64
        z:
          type: string
          description: Tape (Stock trade only)
        tks:
          type: string
          description: Taker's side (crypto trade only)
      required:
      - x
      - i
    LatestMultiTradesResponse:
      description: ''
      type: object
      x-examples:
        example-crypto-1:
          trades:
            ETHUSD:
              t: '2022-03-08T22:13:55.777631Z'
              x: FTXU
              p: 2562.8
              s: 0.881
              tks: S
              i: 26271234
            BTCUSD:
              t: '2022-03-08T22:14:47.379901Z'
              x: FTXU
              p: 38510
              s: 0.05
              tks: B
              i: 26271277
        example-1:
          trades:
            TSLA:
              t: '2022-03-11T17:24:55.143671726Z'
              x: V
              p: 801.83
              s: 100
              c:
              - '@'
              i: 9924
              z: C
            AAPL:
              t: '2022-03-11T17:24:56.321817175Z'
              x: V
              p: 155.105
              s: 300
              c:
              - '@'
              i: 7741
              z: C
      properties:
        trades:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Trade'
      required:
      - trades
    BarsResponse:
      description: ''
      type: object
      x-examples:
        barsResponse-stock-example-1:
          bars:
          - t: '2021-02-01T16:01:00Z'
            o: 133.32
            h: 133.74
            l: 133.31
            c: 133.5
            v: 9876
          - t: '2021-02-01T16:02:00Z'
            o: 133.5
            h: 133.58
            l: 133.44
            c: 133.58
            v: 3567
          symbol: AAPL
          next_page_token: MjAyMS0wMi0wMVQxNDowMjowMFo7MQ==
        barsResponse-crypto-example-1:
          bars:
          - t: '2022-03-10T06:00:00Z'
            x: CBSE
            o: 39230.55
            h: 40302.06
            l: 38560.85
            c: 39259.91
            v: 11328.17046589
            n: 353132
            vw: 39208.3129673941
          - t: '2022-03-10T06:00:00Z'
            x: ERSX
            o: 39246.4
            h: 40151
            l: 38791
            c: 39270
            v: 153.254034
            n: 230
            vw: 39255.8594375793
          - t: '2022-03-10T06:00:00Z'
            x: FTXU
            o: 39170
            h: 40290
            l: 38560
            c: 39200
            v: 1511.2828
            n: 5248
            vw: 39214.2388224758
          symbol: BTCUSD
          next_page_token: null
      title: BarsResponse
      properties:
        bars:
          type: array
          uniqueItems: true
          minItems: 1
          description: The array of Bar data
          items:
            $ref: '#/components/schemas/Bar'
        symbol:
          type: string
          minLength: 1
          example: AAPL
          description: the stock ticker or crypto symbol this set of bar data is for
        next_page_token:
          type: string
          minLength: 1
          nullable: true
      required:
      - bars
      - symbol
      - next_page_token
    ExchangesResponse:
      title: ExchangesResponse
      type: object
      additionalProperties:
        type: string
      x-examples:
        example-1:
          Z: Cboe BZ
          I: International Securities Exchange
          M: Chicago Stock Exchange
          U: Members Exchange
          L: Long Term Stock Exchange
          W: CBOE
          X: NASDAQ OMX PSX
          B: NASDAQ OMX BX
          D: FINRA ADF
          J: Cboe EDGA
          P: NYSE Arca
          Q: NASDAQ OMX
          S: NASDAQ Small Cap
          V: IEX
          A: NYSE American (AMEX)
          E: Market Independent
          N: New York Stock Exchange
          T: NASDAQ Int
          Y: Cboe BYX
          C: National Stock Exchange
          H: MIAX
          K: Cboe EDGX
      description: Returns an object representing the exchanges we support. The keys are the short form codes you will see in our responses and the values are their respective full names.
    LatestBarResponse:
      description: 'A model representing the result of hitting one of the Latest Bar api endpoints.


        Represents a single Bar that should be the latest Bar data for a given ticker symbol'
      type: object
      x-examples:
        crypto-example-1:
          symbol: BTCUSD
          bar:
            t: '2022-03-08T21:05:00Z'
            x: FTXU
            o: 38576
            h: 38576
            l: 38576
            c: 38576
            v: 0.063
            n: 1
            vw: 38576
        stock-example-1:
          symbol: AAPL
          bar:
            t: '2022-03-10T19:26:00Z'
            o: 158.035
            h: 158.21
            l: 158.035
            c: 158.21
            v: 800
            n: 15
            vw: 158.113144
      properties:
        symbol:
          type: string
          minLength: 1
        bar:
          $ref: '#/components/schemas/Bar'
      required:
      - symbol
      - bar
    Bar:
      title: Bar
      type: object
      description: 'The bars API returns aggregate historical data for the requested securities.

        '
      x-examples:
        stock-example-1:
          t: '2022-03-10T19:26:00Z'
          o: 158.035
          h: 158.21
          l: 158.035
          c: 158.21
          v: 800
          n: 15
          vw: 158.113144
        crypto-example-1:
          t: '2022-03-10T19:30:00Z'
          x: FTXU
          o: 39284
          h: 39284
          l: 39200
          c: 39200
          v: 1.1271
          n: 9
          vw: 39233.9329252063
      properties:
        t:
          type: string
          description: Timestamp in RFC-3339 format with nanosecond precision.
          format: date-time
        x:
          type: string
          description: Exchange. Only present on Bars for Crypto symbols
          enum:
          - FTXU
          - ERSX
          - CBSE
        o:
          type: number
          description: Open price
        h:
          type: number
          description: High price.
        l:
          type: number
          description: 'Low price.

            '
        c:
          type: number
          description: Close price.
        v:
          description: Volume.
          type: number
        n:
          type: integer
          description: Number of trades.
          format: int64
        vw:
          description: Volume weighted average price.
          type: number
      required:
      - t
      - o
      - h
      - l
      - c
      - v
    Snapshot:
      title: Snapshot
      type: object
      description: 'The Snapshot API for one ticker provides the latest trade, latest quote, minute bar daily bar and previous daily bar data for a given ticker symbol.

        '
      x-examples:
        snapshot-example-1:
          symbol: AAPL
          latestTrade:
            t: '2021-05-11T20:00:00.435997104Z'
            x: Q
            p: 125.91
            s: 5589631
            c:
            - '@'
            - M
            i: 179430
            z: C
          latestQuote:
            t: '2021-05-11T22:05:02.307304704Z'
            ax: P
            ap: 125.68
            as: 12
            bx: P
            bp: 125.6
            bs: 4
            c:
            - R
          minuteBar:
            t: '2021-05-11T22:02:00Z'
            o: 125.66
            h: 125.66
            l: 125.66
            c: 125.66
            v: 396
          dailyBar:
            t: '2021-05-11T04:00:00Z'
            o: 123.5
            h: 126.27
            l: 122.77
            c: 125.91
            v: 125863164
          prevDailyBar:
            t: '2021-05-10T04:00:00Z'
            o: 129.41
            h: 129.54
            l: 126.81
            c: 126.85
            v: 79569305
      properties:
        latestTrade:
          $ref: '#/components/schemas/Trade'
        latestQuote:
          $ref: '#/components/schemas/Quote'
        minuteBar:
          $ref: '#/components/schemas/Bar'
        dailyBar:
          $ref: '#/components/schemas/Bar'
        prevDailyBar:
          $ref: '#/components/schemas/Bar'
    Quote:
      title: Quote
      type: object
      description: 'The Quotes API provides NBBO quotes for a given ticker symbol at a specified date.

        '
      x-examples:
        example-1:
          t: '2022-03-11T13:13:49.975594385Z'
          ax: V
          ap: 18696.3338
          as: 1
          bx: V
          bp: 0
          bs: 0
          c:
          - R
          z: C
        example-crypto:
          t: '2022-03-21T05:00:00.011543552Z'
          x: FTXU
          bp: 40761.35
          bs: 0.465
          ap: 41007.66
          as: 2.8675
      properties:
        t:
          type: string
          description: Timestamp in RFC-3339 format with nanosecond precision
          format: date-time
        ax:
          type: string
          description: ask exchange (Stock quote only)
        ap:
          type: number
          description: 'ask price

            '
        as:
          type: number
          description: 'ask size

            '
        bx:
          type: string
          description: bid exchange (Stock quote only)
        bp:
          type: number
          description: 'bid price

            '
        bs:
          description: bid size
          type: number
        c:
          type: array
          description: quote conditions (Stock quotes only)
          items:
            type: string
        x:
          type: string
          description: Exchange (Crypto quote Only)
        z:
          type: string
          description: Tape (Stock quote only)
      required:
      - t
    MultiQuotesReponse:
      title: MultiQuotesReponse
      type: object
      description: 'A model representing the result of hitting the Multi Quotes api; represents multiple Quotes for multiple symbols.


        Returned results are sorted by symbol first then by Quote timestamp. This means that you are likely to see only one symbol in your first response if there are enough Quotes for that symbol to hit the limit you requested on that request.


        In these situations if you keep requesting again with the next_page_token you will eventually reach the next symbols if any Quotes were found for them.

        '
      x-examples:
        multiQuotesResponse-example-1:
          quotes:
            AAPL:
            - t: '2022-02-01T09:00:00.000448Z'
              ax: K
              ap: 175
              as: 1
              bx: Q
              bp: 174.96
              bs: 4
              c:
              - R
              z: C
          next_page_token: QUFQTHwyMDIyLTAyLTAxVDA5OjAwOjAwLjAwMDQ0ODAwMFp8MjIzMEUxOUM=
        multiTradesResponse-with-multiple-symbols-at-once-example-1:
          quotes:
            AAPL:
            - t: '2022-02-01T09:00:00.000448Z'
              ax: K
              ap: 175
              as: 1
              bx: Q
              bp: 174.96
              bs: 4
              c:
              - R
              z: C
            GOOGL:
            - t: '2022-02-01T09:00:00.000448Z'
              ax: K
              ap: 175
              as: 1
              bx: Q
              bp: 175
              bs: 4
              c:
              - R
              z: C
          next_page_token: QUFQTHwyMDIyLTAyLTAxVDA5OjAwOjAwLjAwMDQ0ODAwMFp8MjIzMEUxOUM=
      properties:
        quotes:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Quote'
        next_page_token:
          type: string
          description: pass this token with your request again to get the next page of results
          nullable: true
      required:
      - quotes
    LatestTradeResponse:
      title: LatestTradeResponse
      type: object
      description: 'A model representing the result of hitting the Latest Trade api.


        Represents a single Trade that should be the latest trade data for a given ticker symbol'
      x-examples:
        latestTradesResponse-example-1:
          symbol: AAPL
          trade:
            t: '2022-02-01T17:46:51.111055251Z'
            x: V
            p: 173.06
            s: 100
            c:
            - '@'
            i: 6519
            z: C
        crypto-example-1:
          symbol: BTCUSD
          trade:
            t: '2022-03-08T22:27:26.573044Z'
            x: FTXU
            p: 38614
            s: 0.0019
            tks: S
            i: 26271424
      properties:
        trade:
          $ref: '#/components/schemas/Trade'
        symbol:
          type: string
          description: Symbol that was queried
          example: AAPL
          minLength: 1
      required:
      - symbol
    TradesResponse:
      title: TradesResponse
      type: object
      description: 'A model representing the result of hitting the Trades api.


        Represents multiple Trades for a single symbol with support for paging.'
      x-examples:
        trades-example-1:
          trades:
          - t: '2021-02-06T13:04:56.334320128Z'
            x: C
            p: 387.62
            s: 100
            c:
            - ' '
            - T
            i: 52983525029461
            z: B
          - t: '2021-02-06T13:09:42.325484032Z'
            x: C
            p: 387.69
            s: 100
            c:
            - ' '
            - T
            i: 52983525033813
            z: B
          symbol: SPY
          next_page_token: MjAyMS0wMi0wNlQxMzowOTo0Mlo7MQ==
      properties:
        trades:
          type: array
          description: Array of trades
          items:
            $ref: '#/components/schemas/Trade'
        symbol:
          type: string
          description: Symbol that was queried
          example: AAPL
          minLength: 1
        next_page_token:
          type: string
          description: Token that can be used to query the next page
          nullable: true
      required:
      - trades
      - symbol
    MultiTradesResponse:
      title: MultiTradesResponse
      type: object
      description: 'A model representing the result of hitting the Multi Trades api; represents multiple trades for multiple symbols.


        Returned results are sorted by symbol first then by Trade timestamp. This means that you are likely to see only one symbol in your first response if there are enough Trades for that symbol to hit the limit you requested on that request.


        In these situations if you keep requesting again with the next_page_token you will eventually reach the next symbols if any Trades were found for them.

        '
      x-examples:
        multiTradesResponse-example-1:
          trades:
            SPY:
            - t: '2021-02-06T13:04:56.334320128Z'
              x: C
              p: 387.62
              s: 100
              c:
              - ' '
              - T
              i: 52983525029461
              z: B
            - t: '2021-02-06T13:09:42.325484032Z'
              x: C
              p: 387.69
              s: 100
              c:
              - ' '
              - T
              i: 52983525033813
              z: B
          next_page_token: MjAyMS0wMi0wNlQxMzowOTo0Mlo7MQ==
        multiTradesResponse-with-multiple-symbols-at-once-example-1:
          trades:
            AAPL:
            - t: '2021-02-06T13:04:56.334320128Z'
              x: C
              p: 387.62
              s: 100
              c:
              - ' '
              - T
              i: 52983525029461
              z: B
            - t: '2021-02-06T13:09:42.325484032Z'
              x: C
              p: 387.69
              s: 100
              c:
              - ' '
              - T
              i: 52983525033813
              z: B
            SPY:
            - t: '2021-02-06T05:09:42.325484032Z'
              x: C
              p: 400.55
              s: 100
              c:
              - ' '
              - T
              i: 52983525033954
              z: B
          next_page_token: MjAyMS0wMi0wNlQxMzowOTo0Mlo7MQ==
      properties:
        trades:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Trade'
        next_page_token:
          type: string
          nullable: true
      required:
      - trades
    MultiSnapshotResponse:
      title: MultiSnapshotResponse
      type: object
      description: 'A model representing the result of hitting the Multi Snapshots api; represents Snapshots for multiple symbols.


        The result is an object whose keys are the requested symbols and values are their respecitve Snapshot

        '
      additionalProperties:
        $ref: '#/components/schemas/Snapshot'
      x-examples:
        example-1:
          AAPL:
            latestTrade:
              t: '2022-03-11T19:08:43.947998695Z'
              x: V
              p: 156.055
              s: 100
              c:
              - '@'
              i: 10593
              z: C
            latestQuote:
              t: '2022-03-11T19:09:06.125564144Z'
              ax: V
              ap: 157.2
              as: 5
              bx: V
              bp: 156.08
              bs: 1
              c:
              - R
              z: C
            minuteBar:
              t: '2022-03-11T19:08:00Z'
              o: 156.02
              h: 156.1
              l: 156.02
              c: 156.055
              v: 4483
              n: 26
              vw: 156.055956
            dailyBar:
              t: '2022-03-11T05:00:00Z'
              o: 158.94
              h: 159.25
              l: 154.76
              c: 156.055
              v: 1180799
              n: 10408
              vw: 156.545239
            prevDailyBar:
              t: '2022-03-10T05:00:00Z'
              o: 160.23
              h: 160.38
              l: 155.98
              c: 158.52
              v: 1889292
              n: 17072
              vw: 157.845202
          TSLA:
            latestTrade:
              t: '2022-03-11T19:08:59.479520429Z'
              x: V
              p: 796.95
              s: 100
              c:
              - '@'
              i: 13647
              z: C
            latestQuote:
              t: '2022-03-11T19:09:06.159593323Z'
              ax: V
              ap: 850
              as: 1
              bx: V
              bp: 796.49
              bs: 1
              c:
              - R
              z: C
            minuteBar:
              t: '2022-03-11T19:08:00Z'
              o: 796.78
              h: 797.4
              l: 796.78
              c: 796.95
              v: 2139
              n: 46
              vw: 797.116889
            dailyBar:
              t: '2022-03-11T05:00:00Z'
              o: 840.38
              h: 843.055
              l: 795.33
              c: 796.95
              v: 466980
              n: 13232
              vw: 811.369454
            prevDailyBar:
              t: '2022-03-10T05:00:00Z'
              o: 851.5
              h: 853.355
              l: 810.76
              c: 838.21
              v: 578475
              n: 16118
              vw: 828.766436
    LatestQuoteResponse:
      description: 'A model representing the result of hitting the Latest Quote api.


        Represents a single Quote that should be the latest quote data for a given ticker symbol'
      type: object
      x-examples:
        quotesResponse-example-1:
          symbol: AAPL
          quote:
            t: '2022-02-01T17:51:03.204726425Z'
            ax: V
            ap: 173.24
            as: 4
            bx: V
            bp: 173.21
            bs: 4
            c:
            - R
            z: C
      title: LatestQuotesResponse
      properties:
        quote:
          $ref: '#/components/schemas/Quote'
        symbol:
          type: string
          minLength: 1
          example: AAPL
      required:
      - quote
      - symbol
    QuotesResponse:
      description: 'The Quotes API provides NBBO quotes for a given ticker symbol at a specified date.

        '
      type: object
      x-examples:
        quotesResponse-example-1:
          quotes:
          - t: '2022-02-01T09:00:00.000448Z'
            ax: K
            ap: 175
            as: 1
            bx: Q
            bp: 174.96
            bs: 4
            c:
            - R
            z: C
          - t: '2022-02-01T09:00:00.000448Z'
            ax: K
            ap: 175
            as: 12
            bx: Q
            bp: 174.96
            bs: 4
            c:
            - R
            z: C
          symbol: AAPL
          next_page_token: QUFQTHwyMDIyLTAyLTAxVDA5OjAwOjAwLjAwMDQ0ODAwMFp8MzFDODgxNkY=
        no-data-found-example:
          quotes: null
          symbol: AAPL
          next_page_token: null
      title: QuotesResponse
      properties:
        quotes:
          type: array
          uniqueItems: true
          minItems: 1
          nullable: true
          items:
            $ref: '#/components/schemas/Quote'
        symbol:
          type: string
          minLength: 1
          example: AAPL
        next_page_token:
          type: string
          minLength: 1
          nullable: true
      required:
      - quotes
      - symbol
    LatestMultiBarsResponse:
      title: LatestMultiBarsResponse
      type: object
      x-examples:
        example-1:
          bars:
            LINKUSD:
              t: '2022-03-08T17:33:00Z'
              x: FTXU
              o: 13.3565
              h: 13.3565
              l: 13.3565
              c: 13.3565
              v: 41.4
              n: 1
              vw: 13.3565
            BTCUSD:
              t: '2022-03-08T17:40:00Z'
              x: FTXU
              o: 39055
              h: 39055
              l: 39055
              c: 39055
              v: 0.1
              n: 1
              vw: 39055
      description: 'A model representing the result of hitting the Latest Multi Bars api; represents the latest Bars for multiple symbols.

        '
      properties:
        bars:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Bar'
      required:
      - bars
    MultiBarsResponse:
      description: 'A model representing the result of hitting the Multi Bars api; represents multiple Bars for multiple symbols.


        Returned results are sorted by symbol first then by Bar timestamp. This means that you are likely to see only one symbol in your first response if there are enough Bars in the duration you specified for that symbol to hit the limit you requested on that request.


        In these situations if you keep requesting again with the next_page_token you will eventually reach the next symbols if any Bars were found for them in the timeframe.

        '
      type: object
      x-examples:
        multiBarsResponse-with-multiple-symbols-at-once-example-1:
          bars:
            AAPL:
            - t: '2022-02-01T09:04:00Z'
              o: 175.14
              h: 175.16
              l: 175.12
              c: 175.16
              v: 1395
              n: 61
              vw: 175.174624
            - t: '2022-02-01T09:05:00Z'
              o: 175.21
              h: 175.21
              l: 175.1
              c: 175.13
              v: 1821
              n: 61
              vw: 175.143635
            TSLA:
            - t: '2022-02-01T09:05:00Z'
              o: 944.99
              h: 944.99
              l: 944.99
              c: 944.99
              v: 2520
              n: 207
              vw: 944.437393
          next_page_token: null
        multiBarsResponse-with-page-token-example-1:
          bars:
            BTCUSD:
            - t: '2022-02-28T06:00:00Z'
              x: FTXU
              o: 37866
              h: 44340
              l: 37494
              c: 43241
              v: 2817.008
              n: 10116
              vw: 40876.4518611946
          next_page_token: QlRDVVNEfER8MjAyMi0wMi0yOFQwNjowMDowMC4wMDAwMDAwMDBafEZUWFU=
      title: MultiBarsResponse
      properties:
        bars:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/Bar'
        next_page_token:
          type: string
          nullable: true
      required:
      - bars
    LatestMultiQuotesResponse:
      description: ''
      type: object
      x-examples:
        example-crypto:
          quotes:
            ETHUSD:
              t: '2022-03-08T22:40:52.536436224Z'
              x: FTXU
              bp: 2562.99
              bs: 23.798
              ap: 2579.11
              as: 22.155
            BTCUSD:
              t: '2022-03-08T22:40:52.662990848Z'
              x: FTXU
              bp: 38465.26
              bs: 2.641
              ap: 38698.75
              as: 1.3746
        example-1:
          quotes:
            AAPL:
              t: '2022-03-11T18:40:13.514830169Z'
              ax: V
              ap: 156.47
              as: 3
              bx: V
              bp: 156.45
              bs: 1
              c:
              - R
              z: C
            TSLA:
              t: '2022-03-11T18:40:12.416216587Z'
              ax: V
              ap: 850
              as: 1
              bx: V
              bp: 798
              bs: 2
              c:
              - R
              z: C
      properties:
        quotes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Quote'
      required:
      - quotes
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
