openapi: 3.0.0
info:
  title: Broker Account Activities Screener API
  description: Open brokerage accounts, enable crypto and stock trading, and manage the ongoing user experience with Alpaca Broker API
  version: 1.0.0
  contact:
    name: Alpaca Support
    email: support@alpaca.markets
    url: https://alpaca.markets/support
  termsOfService: https://s3.amazonaws.com/files.alpaca.markets/disclosures/library/TermsAndConditions.pdf
servers:
- url: https://broker-api.sandbox.alpaca.markets
  description: Sandbox endpoint
- url: https://broker-api.alpaca.markets
  description: Production endpoint
security:
- BasicAuth: []
tags:
- name: Screener
paths:
  /v1beta1/screener/{market_type}/movers:
    parameters:
    - schema:
        type: string
        enum:
        - stocks
        - crypto
      name: market_type
      in: path
      description: Screen specific market (stocks or crypto)
      required: true
    get:
      summary: Get Top Market Movers by Market type
      tags:
      - Screener
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketMoversResponse'
              examples:
                example-1:
                  value:
                    gainers:
                    - symbol: AGRI
                      percent_change: 145.56
                      change: 2.46
                      price: 4.15
                    - symbol: GRCYW
                      percent_change: 85.63
                      change: 0.03
                      price: 0.0594
                    losers:
                    - symbol: MTACW
                      percent_change: -63.07
                      change: -0.26
                      price: 0.1502
                    - symbol: TIG
                      percent_change: -51.21
                      change: -3.61
                      price: 3.435
                    market_type: stocks
                    last_updated: '2022-03-10T17:53:30.088309839Z'
      operationId: getTopMoversByMarketType
      x-internal: true
      description: Returns top market movers for stocks. By default will return top 5 market gainers and losers.
      parameters:
      - schema:
          type: integer
          default: 10
          maximum: 50
        in: query
        name: top
        description: Number of top market movers to fetch (gainers and losers). Will return number top for each. By default 10 gainers and 10 losers.
components:
  schemas:
    MarketMoversResponse:
      title: MarketMovers
      type: object
      description: 'Contains list of market movers '
      x-examples:
        example-1:
          gainers:
          - symbol: AAPL
            percent_change: 10
            change: 0.1
            price: 150.23
          losers:
          - symbol: TSLA
            percent_change: 15
            change: 0.15
            price: 220.24
          market_type: stocks
          last_updated: '2022-01-14T20:46:00.392227'
      properties:
        gainers:
          type: array
          description: List of top N gainers
          items:
            $ref: '#/components/schemas/MarketMoverAsset'
        losers:
          description: List of top N losers
          type: array
          items:
            $ref: '#/components/schemas/MarketMoverAsset'
        market_type:
          type: string
          enum:
          - stocks
          - crypto
          description: Market type (stocks or crypto)
        last_updated:
          type: string
          description: Time the movers where last computed
      required:
      - gainers
      - losers
      - market_type
      - last_updated
    MarketMoverAsset:
      title: MarketMoverAsset
      type: object
      description: Name or source of given news article
      x-examples:
        example-1:
          symbol: AGRI
          percent_change: 145.56
          change: 2.46
          price: 4.15
      x-internal: true
      properties:
        symbol:
          type: string
          description: Symbol of market moving asset
        percent_change:
          type: number
          description: Percentage difference change for the day
        change:
          type: number
          description: Difference in change for the day
        price:
          type: number
          description: Current price of market moving asset
      required:
      - symbol
      - percent_change
      - change
      - price
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
